{% extends 'base.html' %}
{% block content %}

<div class="wrapper">
    <!-- Navbar -->
    {% include 'nav.html' %}
    <!-- /.navbar -->
  
    <!-- Main Sidebar Container -->
    {% include 'sidebar.html' %}
    <!-- Main Sidebar Container end -->
     <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Delete Executive Details</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Delete Executive Details</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Executive Deatils<small></small></h3>
              </div>
              <div class="{{prop}}">
                {% if data1==1 %}
                <span id="mess">The Data Deleted successfully</span>
                {% else %}
                <span id="mess">{{data2}}</span>
                {% endif %}    
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" id="quickForm" action="/DeleteData" method="POST">
                <div class="card-body">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Area</label>
                    <input type="text" name="arealabel" class="form-control" id="area" placeholder="Enter Area that you want to Delete">
                  </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" id="show" class="btn btn-primary">Delete</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
            </div>
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6">

          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
               
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  {% include 'footer.html' %}
</div>
<script>
  $(document).ready(function(){
    $("#show").click(function(){
      let area=$("#area").val();
      if(area==""){
        alert("Please Fill Area Details");
        return false;
      }
    });
  });
</script>

{% endblock %}