{% extends 'base.html' %}
{% block content %}

<div class="wrapper">
    {% include 'nav.html' %}  
    <!-- Main Sidebar Container -->
    {% include 'sidebar.html' %}
    <!-- Main Sidebar Container end -->
     <!-- Content Wrapper. Contains page content -->
   <!-- Content Wrapper. Contains page content -->
   <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Profile</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{{url_for('start')}}">Home</a></li>
              <li class="breadcrumb-item active">Admin Profile</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="row">
                <div class="col-xs-7">
                    <h4 class="page-title">My Profile</h4>
                </div>
                <div class="col-xs-5 text-right m-b-30">
                    <!--<a href="edit-profile" class="btn btn-primary rounded"><i class="fa fa-plus"></i> Edit Profile</a>-->
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">Personal Details</div>
                        <div class="panel-body">
                            <div class="row">
                            <div class="col-lg-9">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Organizaion Name</th>
                                            <td>Food 'O' Mystery</td>
                                        </tr>   
                                        <tr>
                                            <th>Address</th>
                                            <td>Ramkuteer Near Civil Hospital,Nowgang Chhatarpur Madhya Pradesh.</td>
                                        </tr> 
                                        <tr>
                                            <th>Mobile Number</th>
                                            <td>+91 9893363677</td>
                                        </tr>  
                                        <tr>
                                            <th>Email</th>
                                            <td>foodomystery@gmail.com</td>
                                        </tr>   
                                        <tr>
                                            <th>GSTIN</th>
                                            <td>23AAHFF 3223B1Z7</td>
                                        </tr>     
                                        <tr>
                                            <th>Pan Number</th>
                                            <td>AAHFF3223B</td>
                                        </tr>  
                                        <tr>
                                            <th>CITY</th>
                                            <td>Nowgang</td>
                                        </tr>   
                                        <tr>
                                            <th>DISTRICT</th>
                                            <td>Chhatarpur</td>
                                        </tr>   
                                        <tr>
                                            <th>PIN</th>
                                            <td>471201</td>
                                        </tr>   
                                     
                                    </thead>
                                </table>                                       
                            </div>
                            <div class="col-lg-3">
                                <div class="profilephoto">
                                    <img src="/static/img/food.png" class="img-responsive img-prject" width="200px" height="200px">
                                </div>
                            </div>
                        </div>  
                            </div>
                        </div></div>
                    <div class="panel panel-default">
                        <div class="panel-heading">Owner Details</div>
                        <div class="panel-body">
                            <div class="col-lg-12">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <td id="name"></td>
                                        </tr> 
                                        <tr>
                                            <th>Contact Number </th>
                                            <td id="mobile">+91 9893363677</td>
                                        </tr>
                                       
                                  
                                        <tr>
                                            <th>Email ID</th>
                                            <td id="email">foodomystery@gmail.com</td>
                                        </tr>   
                          
                                        <tr>
                                            <th>Address</th>
                                            <td>Ramkuteer Near Civil Hospital,Nowgang Chhatarpur Madhya Pradesh.</td>
                                        </tr>   
                                        <tr>
                                            <th>City</th>
                                            <td>Nowgang</td>
                                        </tr>   
                                        <tr>
                                            <th>District</th>
                                            <td>Chhatarpur</td>
                                        </tr> 
                                        <tr>
                                            <th>State</th>
                                            <td>Madhya Pradesh</td>
                                        </tr>  
                                        <tr>
                                            <th>Pin code</th>
                                            <td>471201</td>
                                        </tr>  
                                        <tr>
                                            <th>Pan Number.</th>
                                            <td>AAHFF3223B</td>
                                        </tr>  
                                    </thead>
                                </table>                                       
                            </div>
                        </div>                           
                    </div>
        
   
                    <div class="panel panel-default">
                        <div class="panel-heading">Bank Details</div>
                        <div class="panel-body">
                            <div class="col-lg-12">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Bank Name</th>
                                            <td>--NA--</td>
                                        </tr> 
                                        <tr>
                                            <th>Branch</th>
                                            <td>--NA--</td>
                                        </tr>  
                                        <tr>
                                            <th>Account Holder Name</th>
                                            <td>--NA--</td>
                                        </tr>
                                        <tr>
                                            <th>Account Number</th>
                                            <td>--NA--</td>
                                        </tr> 
                                        <tr>
                                            <th>IFSC Code</th>
                                            <td>--NA--</td>
                                        </tr>  
                                        <tr>
                                            <th>UPI ID</th>
                                            <td>--NA--</td>
                                        </tr>
                                    </thead>
                                </table>                                       
                            </div>
                        </div>                           
                    </div>
              
                </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  {% include 'footer.html' %}
</div>
<script>
    $(document).ready(function(){
        $.ajax({
            url:'/Profile',
            success:function(data){
                console.log(data.Result.Name);
                $("#name").html(data.Result.Name)
            }
        });
    });
</script>
{% endblock %}